/* TODO Add site wide styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color:#f59e0b;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color:#333333;
}

body {
    background-color: #333333;
}

label {
    display:flex;
    justify-content: center;

}

#overlay {
    position:fixed;
    left:550px;
    top:100px;
 }

 #overlay img {
    height:500px;
 }

 .grime{
    pointer-events: none;
 }
